

body {
    margin: 0px;
    display: flex;
    justify-content: center;
    background-color: #6906BF;
}

#main-container {
background-color: #3B4386;
width: 1024px;
height: 177px;
border: solid 3px black;
}

#Who-is-he {
    justify-content: center;
    background-color: #8E0100;
    width: 881px;
    height: 238.5px;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#About-Boi {
    font-family: 'Times New Roman', Times, serif;
    color: #F9AF10;
}